{% extends 'base.html.twig'%}

{% block body %}
<div class="container">
<h1> Gérer les biens </h1>

<table class="table table-striped">
<thead >
    <tr>
      <th >Titre</th>
      <th >Action</th>
    </tr>
  </thead>
<tbody>
{% for property in properties %}
<tr>
<td>
{{property.title}}
</td>
<td>
<a href="{{path('admin.property.edit', {'id':property.id})}}" role="button" class="btn btn-secondary">Editer</a>
<form method="POST" action="{{path('admin.property.delete', {id:property.id})}}" 
style="display:inline-block;"  onsubmit= "return confirm ('Etes vous sûr de supprimer?')">
<input type="hidden" name="_method" value="DELETE">
<input type="hidden" name="_token" value="{{csrf_token('delete' ~ property.id)}}">

<button class="btn btn-danger">Supprimer</button>
</form>
</td>
</tr>
<tbody>
{% endfor %}
</table>
<a href="{{path('admin.property.create')}}" role="button" class="btn btn-dark" > Créer nouveau bien</a>
</div>
{% endblock %}